{/* Desktop Navigation */}
<nav class="hidden sm:block">
  <ul class="flex items-center gap-8">
    <li>
      <a
        href="#"
        class="rounded-md hover:bg-gray-900 px-3 py-2 text-sm font-medium text-white"
        >Home</a
      >
    </li>
    <li>
      <a
        href="#"
        class="rounded-md hover:bg-gray-900 px-3 py-2 text-sm font-medium text-white"
        >About</a
      >
    </li>
    <li>
      <a
        href="#"
        class="rounded-md hover:bg-gray-900 px-3 py-2 text-sm font-medium text-white"
        >Projects</a
      >
    </li>
    <li>
      <a
        href="#"
        class="rounded-md hover:bg-gray-900 px-3 py-2 text-sm font-medium text-white"
        >Contact</a
      >
    </li>
  </ul>
</nav>
