---
import LanguagePicker from "../LanguagePicker.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "../../i18n/utils";
import { languageList } from "../../i18n/ui";

const currentLang = Astro.currentLocale || 'en';

const translateLabels = useTranslations(
  currentLang as keyof typeof languageList
);
---

<nav class="hidden md:block">
  <ul class="flex items-center md:gap-4 lg:gap-8">
    <li>
      <a
        href={getRelativeLocaleUrl(currentLang, "/")}
        class="rounded-md hover:bg-gray-900 px-3 py-2 text-sm font-medium text-white"
        >
        {translateLabels("nav.home")}
      </a>
    </li>
    <li>
      <a
        href="#experience"
        class="rounded-md hover:bg-gray-900 px-3 py-2 text-sm font-medium text-white"
      >
      {translateLabels("nav.experience")}
      </a
      >
    </li>
    <li>
      <a
        href="#projects"
        class="rounded-md hover:bg-gray-900 px-3 py-2 text-sm font-medium text-white"
      >
      {translateLabels("nav.projects")}
      </a>
    </li>
    <li>
      <a
        href="#stack"
        class="rounded-md hover:bg-gray-900 px-3 py-2 text-sm font-medium text-white"
        >
        Stack
      </a>
    </li>
    <li>
      <LanguagePicker />
    </li>
  </ul>
</nav>
