---
import { getRelativeLocaleUrl } from "astro:i18n";
import LanguagePicker from "../LanguagePicker.astro";

import { useTranslations } from "../../i18n/utils";
import { languageList } from "../../i18n/ui";

import HomeIcon from "../../icons/HomeIcon.astro";
import PortfolioIcon from "../../icons/PortfolioIcon.astro";
import CodeIcon from "../../icons/CodeIcon.astro";
import StackIcon from "../../icons/StackIcon.astro";

const { isOpen } = Astro.props;

const currentLang = Astro.currentLocale || "en";
const translateLabels = useTranslations(
  currentLang as keyof typeof languageList
);
---

<aside
  class={`sidebar transform transition-transform duration-300 ${
    isOpen ? "translate-x-0" : "hidden -translate-x-full"
  }`}
  id="mobile-menu"
>
  <div>
    <header class="sidebar-header">
      <h1 class="text-white">Hector Dev.</h1>
    </header>
    <nav class="sidebar-nav m-10">
      <ul class="px-4">
        <li class="navigation-item">
          <HomeIcon class="text-white size-4" />
          <a
            href={getRelativeLocaleUrl(currentLang, "/")}
            class="navigation-link"
          >
            {translateLabels("nav.home")}
          </a>
        </li>
        <li class="navigation-item">
          <PortfolioIcon class="text-white size-4" />
          <a href="#experience" class="navigation-link">
            {translateLabels("nav.experience")}
          </a>
        </li>
        <li class="navigation-item">
          <CodeIcon class="text-white size-4" />
          <a href="#projects" class="navigation-link">
            {translateLabels("nav.projects")}
          </a>
        </li>
        <li class="navigation-item">
          <StackIcon class="text-white size-4" />
          <a href="#stack" class="navigation-link">Stack</a>
        </li>
      </ul>
    </nav>
    <footer class="sidebar-footer">
      <LanguagePicker isMobile />
    </footer>
  </div>
</aside>

<style>
  .sidebar {
    display: flex;
    flex-direction: column;
    top: 5.05rem;
    left: 0;
    position: fixed;
    width: 15.625rem;
    height: calc(100vh - 5rem);
    border-right: 0.063rem solid #2c353e;
    padding: 1rem;
    background-color: #0f172a;
    background-image: radial-gradient(#ffffff33 1px, #020b1e 1px);
    animation: slideBackground 10s linear infinite;
    background-size: 50px 50px;
  }

  .sidebar-header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .sidebar-nav ul {
    display: flex;
    flex-direction: column;
    border: hsl(224, 10%, 23%) 1px solid;
    border-radius: 10px;
    background-color: hsl(224, 10%, 10%);
    list-style-type: none;
  }

  .navigation-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
  }

  .sidebar-nav a {
    text-decoration: none;
    font-size: 1rem;
  }

  .sidebar-footer {
    text-align: center;
  }

  .sidebar-footer img {
    max-width: 100px;
    margin-top: 1rem;
  }

  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      border-right: none;
    }
  }

  @keyframes slideBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50px 50px;
    }
  }
</style>
