---
import { Image } from 'astro:assets';
import profile from '../assets/profile.jpg';
---

<div class="ring-primary w-12 rounded-full ring">
    <Image 
    class="rounded-full w-12 h-12"
    src={profile} 
    alt="hector avatar" 
    loading="eager" 
  />
</div>
