---
import LinkWrap from '../components/LinkWrap.astro';
import GithubIcon from '../icons/GithubIcon.astro';
import LinkedInIcon from '../icons/LinkedInIcon.astro';
import EmailIcon from '../icons/EmailIcon.astro';

const { isFooter = false } = Astro.props
const sizeIcon = isFooter ? "lg:size-6": "lg:size-8"
---


<ul class="text-white flex items-center justify-center gap-x-4 py-4">
  <li>
    <LinkWrap href="https://github.com/HectorAlrz" label="Github">
      <GithubIcon class={`size-6 ${sizeIcon} hover:fill-stone-300 hover:scale-150 rounded-full transition-all duration-300`} />
    </LinkWrap>
  </li>
  <li>
    <LinkWrap href="https://www.linkedin.com/in/healcaraz/?locale=en_US" label="LinkedIn">
      <LinkedInIcon class={`size-6 ${sizeIcon} hover:stroke-stone-300 hover:scale-150 transition-all duration-300`} />
    </LinkWrap>
  </li>
  <li>
    <LinkWrap 
      href="mailto:healcaraz@gmail.com?subject=Work%20Inquiry&body=Hello%20there%20Hector%2C%20I'm%20interested%20in%20collaborating%20with%20you."
      label="gmail">
      <EmailIcon class={`size-6 ${sizeIcon} hover:stroke-stone-400 hover:scale-150 transition-all duration-300`} />
    </LinkWrap>
  </li>
</ul>
