---
import Avatar from "./Avatar.astro";
import DesktopNavbar from "./navbar/DesktopNavbar.astro";
import MobileNavbar from "./navbar/MobileNavbar.astro";
import WorkBadge from "./WorkBadge.astro";

const { isMenuOpen = false } = Astro.props;
---

<header class="sticky top-0 backdrop-blur-sm z-50 header">
  <div class="px-4 py-4 mx-auto max-w-[1120px] w-full">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-x-4">
        <Avatar />
        <WorkBadge />
      </div>
      <DesktopNavbar />
      {/* Burger Button */}
      <button
        id="menu-toggle"
        class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:hidden"
        aria-expanded="false"
        aria-label="Toggle menu"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="block h-6 w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-16 6h16"></path>
        </svg>
      </button>
      <MobileNavbar />
    </div>
  </div>
</header>

<script>
  const menuButton = document.getElementById("menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");

  if (menuButton && mobileMenu) {
    menuButton.addEventListener("click", () => {
      const isExpanded = menuButton.getAttribute("aria-expanded") === "true";
      menuButton.setAttribute("aria-expanded", !isExpanded);
      mobileMenu.classList.toggle("hidden");
    });
  }

  const header = document.querySelector(".header");
  window.addEventListener("scroll", () => {
    if (window.scrollY > 0) {
      header.classList.add("border-b", "border-gray-600");
    } else {
      header.classList.remove("border-b", "border-gray-600");
    }
  });
</script>

<style>
  .header {
    transition: border-bottom 0.3s ease-in-out;
    /* background: rgba(120, 119, 198, 0.3); */
  }
</style>
