---
const { company, description, title, date, link } = Astro.props;
---

<div class="mb-10">
  <span
    class="absolute flex items-center justify-center align-center size-6  bg-blue-100 rounded-full -start-3 ring-1 ring-white"
  >
    <svg
     class="relative text-blue-600 dark:text-blue-400 size-4 lg:size-4"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path d="M12 12h.01"></path><path
        d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"></path><path
        d="M22 13a18.15 18.15 0 0 1-20 0"></path><rect
        width="20"
        height="14"
        x="2"
        y="6"
        rx="2"></rect></svg
    >
  </span>
  <div class="ml-2 pl-4 bg-gradient-to-b lg:bg-gradient-to-r from-slate-900 rounded p-4">
    <h3 class="flex gap-x-1.5 text-xl font-bold text-white">
      {company}
    </h3>
    <h3
      class="text-white flex lg:items-center mb-2 text-lg sm:text-center font-semibold dark:text-white"
    >
      {title}
    </h3>
    <time
      class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >{date}</time
    >
    <p class="text-pretty font-normal text-gray-400 dark:text-gray-400">
      {description}
    </p>
  </div>
</div>
