---
import "../portfolio.css";
import ContactItems from "../../components/ContactItems.astro";
import Experience from "../../components/Experience/Experience.astro";
import Layout from "../../layouts/Layout.astro";
import SectionContainer from "../../components/common/SectionContainer.astro";
import SkeletonProyect from "../../components/common/SkeletonProyect.astro";
import CodeIcon from "../../icons/CodeIcon.astro";
import { TAGS } from "../../helpers/projectHelper";
---

<Layout>
  <main class="relative px-4 sm:px-8 lg:px-16">
    <SectionContainer
      className="flex flex-col items-center justify-center pt-16 sm:py-32 lg:py-44 px-4 sm:px-8 lg:px-16"
    >
      <h1
        id="about"
        class="flex flex-row justify-center text-white text-3xl sm:text-4xl lg:text-5xl font-bold gap-x-4 pb-4"
      >
        Hola!, Soy Héctor
      </h1>
      <p class="text-2xl opacity-80 text-pretty text-center">
        <span class="cyberpunk-text">Front-end developer</span> altamente motivado
        con más de 2 años de experiencia, especializado en modernizar y optimizar
        aplicaciones web e impulsado por un compromiso con el aprendizaje continuo
        y la innovación
        <span class="block">De Xalapa, México.</span>
      </p>
      <ContactItems />
    </SectionContainer>

    <SectionContainer className="py-16 sm:py-32 lg:py-44 sm:items-center">
      <h2
        id="experience"
        class="font-bold font-heading leading-tighter tracking-tighter text-heading
          text-3xl lg:text-4xl pb-4 flex justify-center lg:justify-start"
      >
        Experiencia
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer client:load className="py-16 sm:py-32 lg:py-44">
      <div class="flex items-center pb-4 justify-center lg:justify-start">
        <CodeIcon class="size-7 mr-4" />
        <h2
          id="projects"
          class="font-bold font-heading leading-tighter tracking-tighter text-heading
            text-3xl lg:text-4xl"
        >
          Proyectos
        </h2>
      </div>
      <p class="text-center text-pretty opacity-80 pb-4">Coming soon...</p>
      <div class="flex justify-center flex-wrap gap-8 pt-4">
        <SkeletonProyect />
        <SkeletonProyect />
      </div>
    </SectionContainer>

    <SectionContainer className="py-16 sm:py-32 lg:py-44">
      <div class="flex items-center justify-center lg:justify-start">
        <h2
          id="stack"
          class="pb-6 font-bold font-heading leading-tighter tracking-tighter text-heading
        text-3xl lg:text-4xl"
        >
          Stack
        </h2>
      </div>
      <div
        class="icons bg-black/30 blackdrop-blur-md flex justify-space-between flex-wrap gap-8"
      >
        {
          Object.entries(TAGS).map(([key, value]) => (
            <div
              id={key}
              class="flex items-center gap-2 cursor-pointer hover:scale-150 transition-all duration-300"
            >
              {<value.icon class="size-8" />}
              <span>{value.name}</span>
            </div>
          ))
        }
      </div>
    </SectionContainer>
  </main>
</Layout>
